body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    color: #222;
    text-align: center;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkblue;
}

nav {
    background-color: darkblue;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: lightblue;
}

